출처 :  *웨스 맥키니, 파이썬 라이브러리를 활용한 데이터분석*

https://woosa7.github.io/

# Movielens 영화 평점 데이터 분석

In [48]:
import pandas as pd
import numpy as np

In [38]:
ratings = pd.read_csv('./ml-latest-small/ratings.csv')
movies = pd.read_csv('./ml-latest-small/movies.csv')
links = pd.read_csv('./ml-latest-small/links.csv')
tags = pd.read_csv('./ml-latest-small/tags.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [13]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [14]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [25]:
tags.head()

   userId  movieId                      tag   timestamp
0      15      339  sandra 'boring' bullock  1138537770
1      15     1955                  dentist  1193435061
2      15     7478                 Cambodia  1170560997
3      15    32892                  Russian  1170626366
4      15    34162              forgettable  1141391765

In [42]:
#DATA table을 하나로 합침
data = pd.merge(ratings,movies)
# data = pd.merge(pd.merge(ratings,movies),tags)
data.tail()

,userId,movieId,rating,timestamp,title,genres
99999,664,64997,2.5,1343761859,War of the Worlds (2005),Action|Sci-Fi
100000,664,72380,3.5,1344435977,"Box, The (2009)",Drama|Horror|Mystery|Sci-Fi|Thriller
100001,665,129,3.0,995232528,Pie in the Sky (1996),Comedy|Romance
100002,665,4736,1.0,1010197684,Summer Catch (2001),Comedy|Drama|Romance
100003,668,6425,1.0,993613478,"6th Man, The (Sixth Man, The) (1997)",Comedy

In [64]:
#장르에 따른 각 영화의 평점 피봇테이블 만들기
mean_ratings = data.pivot_table(values='rating',index=['genres'],aggfunc=[np.mean,np.std,len])
mean_ratings.tail()

                          mean       std    len
genres
Sci-Fi|Thriller       2.959770  1.094963   87.0
Sci-Fi|Thriller|IMAX  3.500000  1.101946    8.0
Thriller              3.494382  1.004895  712.0
War                   3.884615  0.982214   13.0
Western               3.611570  0.904820  121.0

사람들이 좋아하는 장르와 싫어하는 장르

In [77]:
# 믿을 수 있는 평점인지 검정
# 평가가 100개는 되어야 믿을 수 있다고 생각
df = mean_ratings[mean_ratings['len'] > 100]
# 편차가 낮아야 믿을 수 있는 평균이라고 생각
df = df.sort_values(by = 'std')
# df.head()
# 높은 평점 순으로 10개
df = df.sort_values(ascending=False, by = ['mean'])
df[:10]

                                                     mean       std     len
genres
Action|Adventure|Comedy|Fantasy|Romance          4.208589  0.840370   163.0
Action|Crime|Drama|IMAX                          4.193548  0.936413   124.0
Comedy|Crime|Drama|Thriller                      4.183254  0.919413   633.0
Crime|Film-Noir|Mystery|Thriller                 4.131356  0.805375   236.0
Crime|Mystery|Thriller                           4.056485  0.914563   478.0
Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX  4.049550  0.926761   111.0
Comedy|Drama|Romance|War                         4.040724  0.895019   442.0
Action|Adventure|Drama|Fantasy                   4.027322  1.168176   183.0
Drama|War                                        4.012853  0.945472  1167.0
Crime|Drama                                      4.007816  0.914360  2367.0

사람들이 좋아하는 장르는 액션, 어드벤쳐, 코미디

In [63]:
#데이터를 영화제목으로 그룹화하고 평점 정보건수를 serise 객체로 얻는다
ratings_by_title = data.groupby('title').size()
ratings_by_title.sort_values(ascending=False)[:10]

title
Forrest Gump (1994)                          341
Pulp Fiction (1994)                          324
Shawshank Redemption, The (1994)             311
Silence of the Lambs, The (1991)             304
Star Wars: Episode IV - A New Hope (1977)    291
Jurassic Park (1993)                         274
Matrix, The (1999)                           259
Toy Story (1995)                             247
Schindler's List (1993)                      244
Terminator 2: Judgment Day (1991)            237
dtype: int64

In [84]:
#250건 이상 평점 정보가 있는 영화
active_titles = ratings_by_title.index[ratings_by_title >= 250]
active_titles

Index(['Forrest Gump (1994)', 'Jurassic Park (1993)', 'Matrix, The (1999)',
       'Pulp Fiction (1994)', 'Shawshank Redemption, The (1994)',
       'Silence of the Lambs, The (1991)',
       'Star Wars: Episode IV - A New Hope (1977)'],
      dtype='object', name='title')

In [83]:
#250건 이상 평점 정보가 있는 영화 평점순 정렬
mean_ratings = mean_ratings.ix[active_titles]
mean_ratings

                                           mean  std  len
title
Forrest Gump (1994)                         NaN  NaN  NaN
Jurassic Park (1993)                        NaN  NaN  NaN
Matrix, The (1999)                          NaN  NaN  NaN
Pulp Fiction (1994)                         NaN  NaN  NaN
Shawshank Redemption, The (1994)            NaN  NaN  NaN
Silence of the Lambs, The (1991)            NaN  NaN  NaN
Star Wars: Episode IV - A New Hope (1977)   NaN  NaN  NaN

In [86]:
#성별에 관련없이 호불호가 극명한 영화 찾기 = 표준편차가 큰것
rating_std_by_title = data.groupby('title')['rating'].std()
rating_std_by_title = rating_std_by_title.ix[active_titles]
#내림차순으로 정렬
rating_std_by_title.sort_values(ascending=False)[:10]

title
Jurassic Park (1993)                         0.917073
Star Wars: Episode IV - A New Hope (1977)    0.908682
Matrix, The (1999)                           0.901202
Silence of the Lambs, The (1991)             0.874459
Forrest Gump (1994)                          0.871521
Pulp Fiction (1994)                          0.866897
Shawshank Redemption, The (1994)             0.702412
Name: rating, dtype: float64