## 자바스크립트 매직 
주피터 노트북에서는 매직 커맨드를 통해 단순히 파이썬 코드를 실행시키는 것 이외에도 다양한 작업을 수행할 수 있도록 도와준다. 이러한 매직 커맨드들은 언어 커널에 정의되어 있으면 파이썬 커널에서는 이를 위해 `%%`를 앞에 붙여서 실행한다. 예를 들어 `%%html` 매직을 사용하면 html 코드를 직접 결과 블록에 삽입할 수 있다. `%%html`을 첫 줄에 작성하고, 아래부터는 html코드를 작성한다.

In [1]:
%%html

<style>
.hello-world{
    border: 1px solid black; 
    width: 300px; 
    height: 50px; 
    font-size: 2em; 
    padding: 0.3em;
}
</style>

<div class='hello-world'>
Hello ,html magic!
</div>

위와 같이 html 코드를 바로 사용할 수 있음을 알 수 있다. 더욱 편리한 점은 주피터의 기본 에디터 CodeMirror는 다양한 언어를 지원하기 있어서, 주피터는 이를 통해 자동적으로 HTML 문법을 지원해준다.

이와 마찬가지로 자바스크립트 코드를 실행할 수 있도록 `%%javascript` 매직도 지원하고 있다. 여기서는 먼저 현재 주피터 셀의 결과 요소를 얻어올 수 있도록 헬퍼를 작성해서 사용한다(이 헬퍼가 필요한 이유에 대해서는 뒤에서 자세히 설명한다).

http://blog.nacyot.com/articles/2015-05-21-d3js-in-jupyter/

In [ ]:
%%javascript

function hanoi(n, a, b, c){
    if (n <1) { return; }
    hanoi(n-1, a, c, b);
    console.log(n+' 번째 원반을 ' + a + ' -> ' + c);
    hanoi
}

.

# 정규 표현식의 기본

# 정규표현식(regular expression)
문자열을 패턴을 표현하기 위한 도구입니다. 원래 유닉스의 스크립트 언어(grep, sed, awk) 처리에 사용되던 방법이지만 최근에는 다양한 언어에 내장되어 있습니다.

## 정규표현식의 생성
자바스크립트의 정규표현식은 다음과 같이 생성할 수 있습니다.
```javascript
var reg = new RegExp('abc');
```

## 기본적인 정규 표현식 패턴

In [8]:
import pandas as pd
import numpy as np

df = pd.read_csv('./data/20180108_PK.csv')
df.head()

  Inject  Time(h)  Sample Wells  Value  Result    R
0     IV        0       0    A2  1.293   1.637    R
1     IV        0       1    B2  1.449   1.853    R
2     IV        0       2    C2  1.396   1.779    R
3     IV        4       3    D2  1.260   1.591    R
4     IV        4       4    A4  1.002   1.234  NaN

In [12]:
df_gp = df.groupby(['Inject','Time(h)'])['Result'].agg([np.mean, np.std])
df_gp

                    mean       std
Inject Time(h)
IV     0        1.756333  0.109769
       4        1.231333  0.361007
       8        1.655333  0.134359
       16       1.297000  0.166676
       32       1.092333  0.077694
       48       0.505667  0.026083
       64       0.066000  0.209215
       72      -0.046000  0.130184
SC     1       -0.183667  0.015695
       4       -0.099667  0.019218
       8       -0.052000  0.099715
       16       0.357000  0.073980
       24       0.082333  0.109820
       32      -0.067000  0.073505
       48      -0.134000  0.038743
       64      -0.186333  0.010116
       72      -0.178333  0.004726

In [20]:
Inject = ['IV','SC']
dic = {}
for i in Inject:
    dic[i] = df_gp.loc[i,]

In [22]:
dic['IV']

             mean       std
Time(h)
0        1.756333  0.109769
4        1.231333  0.361007
8        1.655333  0.134359
16       1.297000  0.166676
32       1.092333  0.077694
48       0.505667  0.026083
64       0.066000  0.209215
72      -0.046000  0.130184